<div class="container">
  <div class="row">
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>

    <div class="col-md-2">
      <br><br>
      <div class="row">
        <div class="md-col-12">
          <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="stevenbengtson">
            <a class="LI-simple-link" href='https://ca.linkedin.com/in/stevenbengtson?trk=profile-badge'>Steven Bengtson</a>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="md-col-12">
          <span class="social-block" *ngFor="let socialNetwork of socialNetworks">
            <a class="btn btn-social-icon btn-{{ socialNetwork.icon }}"
               href="{{ socialNetwork.url }}"
               title="{{ socialNetwork.name }}">
              <span class="fa fa-{{ socialNetwork.icon }}"></span>&nbsp;
            </a>
          </span>
        </div>
      </div>
    </div>
</div>

