<div class="container">
  <h1 class="display-3 text-center">Steven "Stevo" Bengtson</h1>
  <blockquote class="blockquote text-right">
    <p class="mb-0">Victoria, British Columbia, Canada.</p>
    <footer class="blockquote-footer"><img src="/assets/email.png" width="160" height="16"></footer>
  </blockquote>

  <div class="row">
    <div class="col-md-12 pull-right">
      <div class="pull-right">
        <a href="/assets/resume.pdf" title="Download PDF version"><span class="fa fa-2x fa-file-pdf-o"></span></a>
      </div>
    </div>
  </div>

  <br><br>

  <p class="lead"><strong>Goals:</strong> Maintain proper software development procedures and produce clean efficient code.</p>
  <p class="lead"><strong>Specialties:</strong> Senior software development skills, Mozilla toolkit development (Netscape 8.0/8.1, Flock, Songbird), object oriented development, and web based applications (Ruby on Rails, HTML, ASP, PHP, Angular, JavaScript, MySQL, Postgres).</p>
  <p class="lead"><strong>Operating Systems:</strong> macOS (up to High Sierra), Windows (3.1 to 10), Linux (Ubuntu, Debian, Gentoo, Mint)</p>

  <h1>Experience</h1>
  <div class="card" *ngFor="let exp of experiences">
    <div class="card-body">
      <blockquote class="blockquote">
        <p class="mb-0">{{ exp.companyName }} - <a href="{{ exp.companyUrl.src }}" class="card-link">{{ exp.companyUrl.title }}</a></p>
        <footer class="blockquote-footer">{{ exp.position }} <cite title="Source Title">{{ exp.startDate }} to {{ exp.endDate }}</cite></footer>
      </blockquote>
      <p class="card-text">{{ exp.summary }}</p>
      <p>
        <button *ngFor="let skill of exp.skills; let i = index" class="btn btn-{{ skillColor(i) }}">{{ skill }}</button>
      </p>
    </div>
  </div>

  <h1>Education</h1>
  <div class="card">
    <div class="card-body">
      <blockquote class="blockquote">
        <p class="mb-0">Camosun College</p>
        <footer class="blockquote-footer">Diploma in Computer Systems Technology, Computer Systems Technician <cite title="Source Title">1997 to 2000</cite></footer>
      </blockquote>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <blockquote class="blockquote">
        <p class="mb-0">Athabasca University</p>
        <footer class="blockquote-footer">Bachelor of Applied Science (B.A.Sc.), Computer Science <cite title="Source Title">2015</cite></footer>
      </blockquote>
    </div>
  </div>

  <h1>Skills</h1>
  <div class="list-group">
    <a *ngFor="let skill of allSkills(); let i = index"
       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
       href="{{ skillUrl(skill) }}">
      {{ skill }}
      <span class="badge badge-secondary">{{ skillUrl(skill) }}</span>
    </a>
  </div>
</div>
<br><br>
