<div class="row">
  <div class="col-md-12">
    <h1 class="display-3 text-center">Steven "Stevo" Bengtson</h1>
    <blockquote class="blockquote text-right">
      <p class="mb-0">Victoria, British Columbia, Canada.</p>
      <footer class="blockquote-footer"><img src="/assets/email.png" width="160" height="16"></footer>
    </blockquote>
  </div>
</div>

<div class="row">
  <div class="col-md-12 pull-right">
    <div class="pull-right">
      <a class="btn" href="/assets/resume.pdf" title="Download PDF version"><span
          class="fa fa-2x fa-file-pdf-o"></span></a>
      <span *ngFor="let socialNetwork of socialNetworks">
        <a class="btn btn-social-icon btn-{{ socialNetwork.icon }}" href="{{ socialNetwork.url }}"
          title="{{ socialNetwork.name }}">
          <span class="fa fa-{{ socialNetwork.icon }}"></span>
        </a>&nbsp;
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Sr. Software Developer seeking new opportunities.</h2>
    <hr>
  </div>
</div>

<h3>Experience</h3>
<app-experiences [experiences]="experiences"></app-experiences>

<h3>Education</h3>
<div class="card">
  <div class="card-body">
    <blockquote class="blockquote">
      <p class="mb-0">Camosun College</p>
      <footer class="blockquote-footer">Diploma in Computer Systems Technology, Computer Systems Technician <cite
          title="Source Title">1997 to 2000</cite></footer>
    </blockquote>
  </div>
</div>

<h3>Skills</h3>
<app-skills [allSkills]="allSkills()"></app-skills>
