<div class="card">
  <div class="card-body" data-id="{{ experience.id }}">
    <blockquote class="blockquote">
      <p class="mb-0">{{ experience.companyName }} - <a href="{{ experience.companyUrl.src }}" class="card-link">{{ experience.companyUrl.title }}</a></p>
      <footer class="blockquote-footer">{{ experience.position }} <cite title="Source Title">{{ experience.startDate }} to {{ experience.endDate }}</cite></footer>
    </blockquote>
    <p class="card-text">{{ experience.summary }}</p>
    <p>
      <app-skill *ngFor="let skill of getSkills()" [skill]="skill" type="button"></app-skill>
    </p>
  </div>
</div>
